// Custom styles.
//external link
.post-body p a {
  color: #0593d3;
  border-bottom: none;
  &:hover {
    color: #0477ab;
    text-decoration: underline;
  }
}
//code block
code {
  padding: 2px 6px;
  word-wrap: break-word;
  color: $highlight-red;
  background: #f9f2f4;
  border-rdius: $code-border-radius;
  font-size $code-font-size+1;
}
//user copyright
.post-copyright {
  margin: 2.8em auto 0;
  padding: 0.5em 1.0em;
  border: 1px solid #d3d3d3;
  font-size: 0.93rem;
  line-height: 1.6em;
  line-height: 1.6em;
  word-break: break-all;
}